.Option {
  display: flex;
  background: none;
  border: 0;
  margin: 6px 0;
  padding: 0;
}

.Option::before {
  content: '';
  display: block;
  background-color: #e7e7e7;
  width: 16px;
  height: 16px;
  text-align: center;
  border-radius: 4px;
  margin-right: 10px;
}

.Option--checked::before {
  content: '✓';
  color: #fff;
  background-color: #0083ed;
}
